@font-face {
    font-family: Fight-This;
    src: url("../assets/fonts/FIGHTT3_.ttf");
}

/* Variables  */
:root {
    --versus-font-family: Fight-This;
}

  
.container{
    background-image: url("../assets/images/background/caveBackground.png");
}
.board{

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    margin: auto;   

    width: 700px;
    height: 700px;
    min-width: 700px;
}

.floorTile{
    background-image: url("../assets/images/tiles/dirtTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 10;
}
.wallTile{
    background-image: url("../assets/images/tiles/wallTile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.endTile{
    background-image: url("../assets/images/tiles/endTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.character{
    background-image: url("../assets/images/character/characterFront.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 15;
    width: 80px;
    height: 80px;
}

.characterMinotaur{
    background-image: url("../assets/images/enemies/enemieMinotaurFront.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 15;
    width: 80px;
    height: 80px;
}

/* Board used when fighting */
.battleBoard{
    width: 800px;
    height: 700px;

    grid-template-columns: repeat(3,1fr);
    display: grid;
    grid-template-areas: 
    "playerSide vsSide enemieSide"
    "logSide logSide logSide"
    ;

    background-color: aliceblue;
}
.battleBoard__name{
    font-size: 4rem;
    
}
.battleBoard__name--vs{
    font-size: 6rem;
}

.battleBoard__player{
    width: 70px;
}
.heart{
    width: 30px;
    margin: 5px;
}

/* SIDES///////////// */
.Side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: var(--versus-font-family)
}
.playerSide{
    grid-area: playerSide;
    padding-bottom: 30px;
    
}

.vsSide{
    grid-area: vsSide;

}
/* Container of buttons to attack */
.attacks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.buttonAttack{
    width: 60px;
    height: 60px;
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 1px 1px 10px 5px rgba(128, 128, 128, 0.253);

    border: 2px gray solid;

    margin: 5px;
}
.buttonAttack:hover{
    border-color: rgb(165, 165, 165);

}
.buttonAttack--fire{
    background-color: rgb(151, 73, 9);
}
.buttonAttack--fire:hover{
    background-color: rgb(158, 87, 29);
}

.buttonAttack--leaf{
    background-color: rgb(11, 155, 11);
}
.buttonAttack--leaf:hover{
    background-color: rgb(23, 184, 23);

}
.buttonAttack--water{
    background-color: rgb(0, 0, 170);
}
.buttonAttack--water:hover{
    background-color: rgb(21, 21, 197);
}
.buttonAttack__img{
    width: 80%;
}
.enemieSide{
    grid-area: enemieSide;
    padding-bottom: 150px;
}

.logSide{
    grid-area: logSide;

    border: 4px black solid;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin: 10px;
}


/* Style for making an object not show */
.displayNone{
    display: none;
}