.board{

    display: grid;
    grid-template-columns: repeat(8, 30px);
    grid-template-rows: repeat(8, 30px);

    margin: auto;   

    /* width: 300px; */
}

.floorTile{
    background-image: url("../assets/images/dirtTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 10;
}
.wallTile{
    background-image: url("../assets/images/wallTile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.endTile{
    background-image: url("../assets/images/endTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.character{
    background-image: url("../assets/images/characterFront.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 15;
    width: 30px;
    height: 30px;
}