.container{
    background-image: url("../assets/images/background/caveBackground.png");
}
.board{

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    margin: auto;   

    width: 700px;
    height: 700px;
    min-width: 700px;
}

.floorTile{
    background-image: url("../assets/images/tiles/dirtTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 10;
}
.wallTile{
    background-image: url("../assets/images/tiles/wallTile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.endTile{
    background-image: url("../assets/images/tiles/endTile.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.character{
    background-image: url("../assets/images/character/characterFront.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 15;
    width: 80px;
    height: 80px;
}

.characterMinotaur{
    background-image: url("../assets/images/enemies/enemieMinotaurFront.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 15;
    width: 80px;
    height: 80px;
}

.battleBoard{
    width: 800px;
    height: 700px;

}
.displayNone{
    display: none;
}